server:
  port: 8080
  tomcat:
    max-swallow-size: 10MB
# ucloud 配置
ucloud:
  ufile:
    public-key:
    private-key:
    bucket-name: codeproblem
    region: cn-bj
    suffix: ufileos.com
    expires: 315360000      # 过期时间 10年
spring:
  #  生产环境
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/blog?useUnicode=true&charaterEncoding=utf-8&serverTimezone=UTC
#    url: jdbc:mysql://14.18.80.95:3306/blog?useUnicode=true&charaterEncoding=utf-8&serverTimezone=UTC&useSSL=false
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
logging:
  level:
    root: warn
    com.lrm: info
  file: log/blog-pro.log

