<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0 ">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/me.css">
	<title>关于我</title>
</head>
<body>
	<!-- 导航 -->
	<nav class="ui inverted attaches segment m-padded-tb-mini m-shadow-small">
		<div class="ui container">
			<div class="ui inverted secondary stackable menu">
				<h2 class="ui teal header item">Blog</h2>
				<a href="" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
				<a href="" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
				<a href="" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
				<a href="" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
				<a href="" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
				<div class="right item">
					<div class="ui icon input">
						<input type="text" placeholder="搜索">
						<i class=" search link icon"></i>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="ui black icon button m-right-top m-mobile-show menu toggle">
			<i class="sidebar icon"></i>
		</a>

	</nav>
	<!-- 中间 -->

	<div class="m-padded-tb-large m-container-small ">
     	<div class="ui container">
     		<div class="ui grid stackable">
     			<div class="eleven wide column ">
     				<img src="../static/images/03.png" alt="" class="ui rounded image">
     			</div>

     			<div class="five wide column">
     				<div class="ui top attached segment">
     					<div class="ui header">关于我</div>
     				</div>
     				<div class="ui segment attached">
     					<p class="text">游网行程助手,d'sa'd途径城市:中国旅游,拉斯维加斯旅行,锡安国家公园线路,布赖斯峡谷国家公园线路,大峡谷国家公园北缘旅行,纪念碑谷线路,佩吉市旅行,亚利桑那州...</p>

     					<p class="text">游网行程助手,d'sa'd途径城市:中国旅游,拉斯维加斯旅行</p>
     				</div>
     				<div class="ui attached segment ">
     					<div class="ui basic orange left pointing label m-margin-tb-tiny">编程</div>
     					<div class="ui basic orange left pointing label m-margin-tb-tiny">卸载</div>
     					<div class="ui basic orange left pointing label m-margin-tb-tiny">编程</div>
     					<div class="ui basic orange left pointing label m-margin-tb-tiny">编程</div>
     					<div class="ui basic orange left pointing label m-margin-tb-tiny">编程</div>
     					<div class="ui basic orange left pointing label m-margin-tb-tiny">编程</div>
     				</div>
     				<div class="ui segment attached">
     					<div class="ui basic teal left pointing label m-margin-tb-tiny">Java</div>
     					<div class="ui basic teal left pointing label m-margin-tb-tiny">hph</div>
     					<div class="ui basic teal left pointing label m-margin-tb-tiny">编程</div>
     					<div class="ui basic teal left pointing label m-margin-tb-tiny">编程</div>
     					<div class="ui basic teal left pointing label m-margin-tb-tiny">编程</div>
     					<div class="ui basic teal left pointing label m-margin-tb-tiny">编程</div>
     				</div>
     				<div class="ui buttom segment attached">
     					<a href="#" class="ui button icon circular"><i class="github icon"></i></a>
     					<a href="#" class="ui wechat button icon circular"><i class="weixin icon"></i></a>
     					<a href="#" class="ui qq button icon circular" data-content="1063420620" data-position="bottom center"><i class="qq icon"></i></a>
     				</div>

 					<div class="ui wechat-py flowing popup transition hidden">
 						<img src="../static/images/wx.jpg" class="ui rounded image" style="width: 100px">
 					</div>
     			</div>

     		</div>

     	</div>
	</div>
			
	<!-- 底部 -->
	<footer class="ui inverted vertical segment m-padded-tb-massive">
		<div class="ui container center aligned">
			<div class="ui divided stackable inverted grid">
				<div class="three wide column">
					<div class="ui inverted link list">
						<div class="item">
					      <img src="../static/images/01.png" alt="" class="ui rounded image " style="width: 100px">
						</div>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">最新博客</h4>
					<div class="ui inverted link list">
						<a href="" class="item">aaaaaaa</a>
						<a href="" class="item">aaaaaaa</a>
						<a href="" class="item">aaaaaaa</a>
						<a href="" class="item">aaaaaaa</a>
					</div>

				</div>
				<div class="three wide column ">
					<h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">联系我</h4>
					<div class="ui inverted link list">
						<a href="" class="item">aaaaaaa</a>
						<a href="" class="item">bbaaaaa</a>
						<a href="" class="item">ccaaaaa</a>
						<a href="" class="item">eeaaaa</a>
					</div>


				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">联系我</h4>
					<p class="m-text-thin m-text-spaced m-opacity-mini">联系我联系我联系我联系我联系我</p>

				</div>
			</div>
			<div class="ui inverted section divider"></div>
			<p class="m-text-thin m-text-spaced m-opacity-mini">小金小金66666@1063420620</p>
		</div>
	</footer>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript">
	$('.menu.toggle').click(function(){
		$('.m-item').toggleClass('m-mobile-hide');
	});

	$('.qq').popup({

	})

	$('.wechat').popup({
			popup : $('.wechat-py'),
			on : 'hover',
			position : 'bottom center'
		})

</script>
</body>
</html>