server:
  port: 8080
  tomcat:
    max-swallow-size: 10MB
# ucloud 配置
ucloud:
  ufile:
    public-key:
    private-key:
    bucket-name: codeproblem
    region: cn-bj
    suffix: ufileos.com
    expires: 315360000      # 过期时间 10年
spring:
  #  开发环境
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/blog?useUnicode=true&charaterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 10MB             # 单个文件最大大小
      max-request-size: 10MB          # 所有上传文件最大大小
logging:
  level:
    root: info
    com.lrm: debug
  file: log/blog-dev.log
